@import 'tailwindcss';

@theme {
  --font-sans: 'Segoe UI', Arial, sans-serif;
  --color-brand-50: #f0f8ff;
  --color-brand-100: #dff1ff;
  --color-brand-500: #0e8bd4;
  --color-brand-600: #087dcc;
  --color-brand-700: #0867a7;
  --color-brand-900: #123b66;
}
